{%  extends 'accounts/main.html' %}
{% block content %}
{%  include 'accounts/status.html' %}

<h3>User Profile</h3>
<div class="row">


        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                    </tr>
                    {% for i in order %}
                        <tr>
                            <td> {{ i.Product.name }}</td>
                            <td> {{ i.Product.description }}</td>
                            <td> {{ i.date_created }}</td>
                            <td> {{ i.status }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}  `
